.catalog {
  padding: 20px;
  .filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .product-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    img{
      width: 100%;
    };
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination {
    button{
      margin: 0 5px;
    }
  }

  .pagination  {
    .active{
      font-weight: bold;
    }
  }

}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
  justify-content: center;
}
.g-3, .gy-3 {
  --bs-gutter-y: 1rem;
}
.g-3, .gx-3 {
  --bs-gutter-x: 1rem;
}
.col {
  flex: 1 0 0%;
}
@media (min-width: 768px) {
  .row-cols-md-3>* {
    flex: 0 0 auto;
   // width: 33.33333333%;
  }
}
@media (min-width: 576px) {
  .row-cols-sm-2>* {
    flex: 0 0 auto;
    //width: 20%;
  }
}